html { overflow-y: scroll; overflow-x:hidden; }
body {
	
	margin:0;
	padding:0;
	min-width;1000px;
}

.MainNav {
    position:fixed;
    top:0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:12%;
    width:100%;
    min-width:1000px;
    z-index:2;
    background-color:#181819;
    opacity: 0.5;
	  
}
.MainNav h1{
	color: white;
	font: 4vh arial, sans-serif;
	letter-spacing:2px;
	position:absolute;
	top:-5%;
	left:30px;
	line-height:80%;
}


.MainNav ul li hover{
	background-color:#181819;
}


/* all of the Css for the Main Nav bar */

.MainNav ul{
	float:right;
        cursor:pointer;
	margin:0;
	padding:0;
        
}
.MainNav a {
    color: white;
    display: block;
    font: 2vh arial,sans-serif;
    padding: 3vh;
    margin:2vh;
    text-decoration: none;
    text-align: left;
    font-weight:bold;
    
}

.MainNav li{
	list-style-type: none;
	float:left;
}

.MainNav ul li:hover{
	color:#19218e;
	opacity:0.8;
}

#PortfolioArea{
	height: 130vh;
	min-height:500px;
	width: 100vw;
	min-width:1000px;
}

h2{
	position: relative;
	top:17%;
	font: 10vh arial, sans-serif;
	text-align: center;
	letter-spacing: 3px;
	
}

#PortfolioGrid{
	position: absolute;
	top: 40%;
	margin: 0 7% 0 7%;
}
#wrapper{
	float: left;
	height: 45vh;
    	width: 25vw;
    	display: inline-block;
	margin:3vh;
	border: 1px solid;
	color: black;
	border-radius:3px;
	overflow:hidden;
}
.Text{
	position:relative;
	top:-100%;
	font: 3vh arial, sans-serif;
	margin:90px;
	display: none;
	font-weight:bold;
	opacity:1;
	cursor: none;
	pointer-events:none;
}

.DemoThumbnail{
	height: 100%;
    	width: 130%;
	
	
}
.DemoThumbnail:hover{

	opacity:0.5;
	display:.Text;
}


#Contact{
	position:relative;
	bottom:0px;
	background-color:#181819;
	width:100vw;
	height:30vh;
}
#Contact h3{
	position:absolute;
	top: 2%;
	left: 2%;
	font: 6vh arial, sans-serif;
	color: white;
	font-weight: bold;
	letter-spacing:1vh;

}
#Contact ul{
	list-style-type:none;
	position: absolute;
	top: 40%;
	
}
#Contact li{
	font: 3vh arial, sans-serf;
	color:#a6a6a8;
}


/* For mobile */
@media screen and (max-width: 699px){
html{ overflow-y: scroll; overflow-x:hidden; 
     	margin:0; /* remove default margin */
	padding:0; /* remove default padding */
     	width:fit-content; /* take full browser width */
     	height:fit-content; /* take full browser height*/
	}
body{	positon:fixed;
	margin:0; /* remove default margin */
	padding:0; /* remove default padding */
     	width:-webkit-fill-available; /* take full browser width */
     	height:-webkit-fill-available; /* take full browser height*/	
	}

.MainNav {
    position:fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:5%;
    min-width:100%;
    background-color:#181819;
    opacity:0.7;
    z-index:2;
       
}
.MainNav h1{
	color: white;
	font: 4vh arial, sans-serif;
	letter-spacing:2px;
	position:absolute;
	left:3%;
	line-height:80%;
}



/* all of the Css for the Main Nav bar */

.MainNav ul{
	float:right;
        cursor:pointer;
	margin:0;
	padding:0;
        
}
.MainNav a {
    color: white;
    display: block;
    font: 2vh arial,sans-serif;
    color: white;
    padding: 3vh;
    margin:2vh;
    text-decoration: none;
    text-align: left;
    font-weight:bold;
    
}

.MainNav li{
	list-style-type: none;
	float:left;
}

.MainNav ul li:hover{
	color:#19218e;
	opacity:0.8;
}
#PortfolioArea{
	position:relative;
	clear:both;
	height: 50vh;
	width: 100%;
}

h2{
	position: relative;
	clear:both;
	top:10%;
	font: 8vh arial, sans-serif;
	text-align: center;
	letter-spacing: 3px;
	
}


#wrapper{
	position:relative;
	clear:both;
	height: 50%;
    width: 100%;
    display: block;
	margin:0 auto;
	padding:5%,0,5%,5%
	border: 1px solid;
	color: black;
	border-radius:3px;
	overflow:hidden;
}
.Text{
	position:relative;
	top:-100%;
	font: 3vh arial, sans-serif;
	margin:90px;
	display: inline-block;
	font-weight:bold;
	opacity:1;
	cursor: none;
	pointer-events:none;
}

.DemoThumbnail{
	height: 100%;
    	width: cover;
	
	
}


#Contact{
	position: absolute;
	display:none;
	background-color:#181819;
	width:100vw;
	height:30%;
}
#Contact h3{
	position:absolute;
	top: 2%;
	left: 2%;
	font: 9vh arial, sans-serif;
	color: white;
	font-weight: bold;
	letter-spacing:1vh;

}
#Contact ul{
	list-style-type:none;
	position: absolute;
	top: 40%;
	
}
#Contact li{
	font: 7vh arial, sans-serf;
	color:#a6a6a8;
}
#footer{
	display:none;
	}
#header{
	display:none;
	}
}
